<%= form_with(model: sintetico, local: true) do |form| %>
  <% if sintetico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sintetico.errors.count, "error") %> prohibited this sintetico from being saved:</h2>

      <ul>
      <% sintetico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-4">
    <%= form.label :carteira_id %>
    <%= form.text_field :carteira_id %>
  </div>

  <div class="col-md-4">
    <%= form.label :ano_id %>
    <%= form.text_field :ano_id %>
  </div>

  <div class="col-md-4">
    <%= form.label :jan %>
    <%= form.text_field :jan %>
  </div>

  <div class="col-md-4">
    <%= form.label :fev %>
    <%= form.text_field :fev %>
  </div>

  <div class="col-md-4">
    <%= form.label :mar %>
    <%= form.text_field :mar %>
  </div>

  <div class="col-md-4">
    <%= form.label :abr %>
    <%= form.text_field :abr %>
  </div>

  <div class="col-md-4">
    <%= form.label :mai %>
    <%= form.text_field :mai %>
  </div>

  <div class="col-md-4">
    <%= form.label :jun %>
    <%= form.text_field :jun %>
  </div>

  <div class="col-md-4">
    <%= form.label :jul %>
    <%= form.text_field :jul %>
  </div>

  <div class="col-md-4">
    <%= form.label :ago %>
    <%= form.text_field :ago %>
  </div>

  <div class="col-md-4">
    <%= form.label :set %>
    <%= form.text_field :set %>
  </div>

  <div class="col-md-4">
    <%= form.label :out %>
    <%= form.text_field :out %>
  </div>

  <div class="col-md-4">
    <%= form.label :nov %>
    <%= form.text_field :nov %>
  </div>

  <div class="col-md-4">
    <%= form.label :dez %>
    <%= form.text_field :dez %>
  </div>

</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
