<%= form_with(model: sintetico, local: true) do |form| %>
  <% if sintetico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sintetico.errors.count, "error") %> prohibited this sintetico from being saved:</h2>

      <ul>
      <% sintetico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <%= form.label :carteira_id %>
    <%= form.text_col-md-6 :carteira_id %>
  </div>

  <div class="col-md-6">
    <%= form.label :ano_id %>
    <%= form.text_col-md-6 :ano_id %>
  </div>

  <div class="col-md-6">
    <%= form.label :jan %>
    <%= form.text_col-md-6 :jan %>
  </div>

  <div class="col-md-6">
    <%= form.label :fev %>
    <%= form.text_col-md-6 :fev %>
  </div>

  <div class="col-md-6">
    <%= form.label :mar %>
    <%= form.text_col-md-6 :mar %>
  </div>

  <div class="col-md-6">
    <%= form.label :abr %>
    <%= form.text_col-md-6 :abr %>
  </div>

  <div class="col-md-6">
    <%= form.label :mai %>
    <%= form.text_col-md-6 :mai %>
  </div>

  <div class="col-md-6">
    <%= form.label :jun %>
    <%= form.text_col-md-6 :jun %>
  </div>

  <div class="col-md-6">
    <%= form.label :jul %>
    <%= form.text_col-md-6 :jul %>
  </div>

  <div class="col-md-6">
    <%= form.label :ago %>
    <%= form.text_col-md-6 :ago %>
  </div>

  <div class="col-md-6">
    <%= form.label :set %>
    <%= form.text_col-md-6 :set %>
  </div>

  <div class="col-md-6">
    <%= form.label :out %>
    <%= form.text_col-md-6 :out %>
  </div>

  <div class="col-md-6">
    <%= form.label :nov %>
    <%= form.text_col-md-6 :nov %>
  </div>

  <div class="col-md-6">
    <%= form.label :dez %>
    <%= form.text_col-md-6 :dez %>
  </div>

</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
