<div class="float-right"><%= link_to new_sintetico_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo Dividendos Sintéticos
	</button><% end %>
</div>
<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Sinteticos
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
  <thead class="text-center">
    <tr>
      <th>Ano</th>
      <th>Jan</th>
      <th>Fev</th>
      <th>Mar</th>
      <th>Abr</th>
      <th>Mai</th>
      <th>Jun</th>
      <th>Jul</th>
      <th>Ago</th>
      <th>Set</th>
      <th>Out</th>
      <th>Nov</th>
      <th>Dez</th>
      <th>Total</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @sinteticos.each do |sintetico| %>
      <tr>
        <td><%= sintetico.ano.ano %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.jan , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.fev , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.mar , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.abr , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.mai , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.jun , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.jul , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
       <td style="width: 82px"><%= number_to_currency(sintetico.ago , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
        <td style="width: 82px"><%= number_to_currency(sintetico.set, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
        <td style="width: 82px"><%= number_to_currency(sintetico.out, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
        <td style="width: 82px"><%= number_to_currency(sintetico.nov, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
        <td style="width: 82px"><%= number_to_currency(sintetico.dez, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
        <td style="width: 82px"><%= number_to_currency(sintetico_anual(sintetico), unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>

        <td>
          <%= link_to edit_sintetico_path(sintetico) do %>
            <em class="fa fa-pencil"></em> 
          <% end %>
        </td>
       </tr>
    <% end %>
     
  </tbody>
</table>

</div>
