<p id="notice"><%= notice %></p>

<p>
  <strong>Carteira:</strong>
  <%= @sintetico.carteira %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @sintetico.ano %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @sintetico.jan %>
</p>

<p>
  <strong>Fev:</strong>
  <%= @sintetico.fev %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @sintetico.mar %>
</p>

<p>
  <strong>Abr:</strong>
  <%= @sintetico.abr %>
</p>

<p>
  <strong>Mai:</strong>
  <%= @sintetico.mai %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @sintetico.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @sintetico.jul %>
</p>

<p>
  <strong>Ago:</strong>
  <%= @sintetico.ago %>
</p>

<p>
  <strong>Set:</strong>
  <%= @sintetico.set %>
</p>

<p>
  <strong>Out:</strong>
  <%= @sintetico.out %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @sintetico.nov %>
</p>

<p>
  <strong>Dez:</strong>
  <%= @sintetico.dez %>
</p>

<%= link_to 'Edit', edit_sintetico_path(@sintetico) %> |
<%= link_to 'Back', sinteticos_path %>
