<p id="notice"><%= notice %></p>

<h1>Anos</h1>

<table>
  <thead>
    <tr>
      <th>Ano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anos.each do |ano| %>
      <tr>
        <td><%= ano.ano %></td>
        <td><%= link_to 'Show', ano %></td>
        <td><%= link_to 'Edit', edit_ano_path(ano) %></td>
        <td><%= link_to 'Destroy', ano, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ano', new_ano_path %>
