<%= form_with(model: corretora, local: true) do |form| %>
  <% if corretora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corretora.errors.count, "error") %> prohibited this corretora from being saved:</h2>

      <ul>
      <% corretora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :corretagem %>
    <%= form.text_field :corretagem %>
  </div>

  <div class="field">
    <%= form.label :corretagem_porcentagem %>
    <%= form.text_field :corretagem_porcentagem %>
  </div>

  <div class="field">
    <%= form.label :corretagem_iss %>
    <%= form.text_field :corretagem_iss %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
