<%= form_with(model: corretora, local: true) do |form| %>
  <% if corretora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corretora.errors.count, "error") %> prohibited this corretora from being saved:</h2>

      <ul>
      <% corretora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-4 mt-4">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :corretagem_acoes %>
    <%= form.text_field :corretagem_acoes, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :corretagem_opcoes %>
    <%= form.text_field :corretagem_opcoes, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :corretagem_fiis %>
    <%= form.text_field :corretagem_fiis, class: 'form-control' %>
  </div>
  <div class="col-md-4 mt-4">
    <%= form.label :corretagem_exerc %>
    <%= form.text_field :corretagem_exerc, class: 'form-control' %>
  </div>
  <div class="col-md-4 mt-4">
    <%= form.label :corretagem_exerc_porcent %>
    <%= form.text_field :corretagem_exerc_porcent, class: 'form-control' %>
  </div>
    <div class="col-md-4 mt-4">
    <%= form.label :corretagem_exerc_iss %>
    <%= form.text_field :corretagem_exerc_iss, class: 'form-control' %>
  </div>

</div>
<div class="row">
	<div class="col-md-3 mt-4">
		<div class="form-group">
			<%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
		</div>
	</div>
</div>
<% end %>
