<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @corretora.nome %>
</p>

<p>
  <strong>Corretagem:</strong>
  <%= @corretora.corretagem %>
</p>

<p>
  <strong>Corretagem porcentagem:</strong>
  <%= @corretora.corretagem_porcentagem %>
</p>

<p>
  <strong>Corretagem iss:</strong>
  <%= @corretora.corretagem_iss %>
</p>

<%= link_to 'Edit', edit_corretora_path(@corretora) %> |
<%= link_to 'Back', corretoras_path %>
