<%= render partial: "carteiras/navbar" %>

<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-usd text-success"></em><em class="fa fa-usd text-success"></em><em class="fa fa-usd text-success"></em> &nbsp; Radar Calls
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" id="DerivaMoveTable">
          <thead>
            <tr class="header">
                <th>Ativo</th>
                <th>Código</th>
                <th>Vencimento</th>
                <th>Prêmio</th>
                <th>Prêmio hj</th>
                <th>Quant</th>
                <th>Strike</th>
                <th>Cotação</th>
                <th>Strike/Cotação</th>

            </tr>
          </thead>
        
          <tbody>
            <% @calls_abertas.where(:carteira_id => @carteira.id).each do |dm| %>
            <tr>
                <td><%= dm.ativo.ticker %></td>
                <td><%= dm.codigo %></td>
                
                <td><%= dm.vencimento.data.strftime("%d/%m/%Y") %></td>
                <td><%= number_with_delimiter(dm.valor, delimiter: '.', separator: ',') %></td>
                <td></td>
                <td><%= dm.quantidade %></td>
                <td>
                <% if dm.strike.present? %>
                  <%= number_with_delimiter(dm.strike, delimiter: '.', separator: ',')  %>
                <% end %>
                </td>
                <td><%= number_to_currency(dm.ativo.valor_atual, precision: 2, unit: "", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></td>
                <td class="<%= cor_strike_cotacao(dm)%>"> <%= number_to_percentage(strike_cotacao(dm), precision: 2) %></td>
            
                
              </tr>
            <% end %>
          </tbody>
    </table>
</div>