<%= render partial: "carteiras/navbar" %>


<h3 class="h4-custom mt-4" id="minhas-paginas">
	 Onde investir Puts
</h3>

<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card" id="garantias">
               <div class="card-body">
                   <h3 class="m-0">Garantias
                   <small class="float-right">
                       <a href='<%= new_garantia_path(carteira_id: @carteira.id) %>'>
                          &nbsp;<i class="fa fa-plus-square-o"></i>
                        </a>
                  	
                   </small>
                   </h3>
               </div>
               <div class="card-body">
                   <!--Garantia está em investimentos-->
                   <% @garantias.where(:carteira_id => @carteira.id).each do |garantia| %>
                       <p class="mt-0">
                           <%= garantia.ativo.ticker %>  /  <%= garantia.corretora.nome  %>
                        <p class="text-right">   
                           Disponível: 
                           <span class="badge badge-primary">
                               <%= number_to_currency(garantia.valor_medio, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %>
                           <%= link_to edit_investimento_path(garantia) do %>
                          	     &nbsp;<i class="fa fa-pencil text-white"></i>
                          	<% end %>
                          	</span>
                        </p>
                        <p class="text-right">
                           Usada: <%= number_to_currency(@puts_abertas.where(:carteira_id => @carteira.id).where(:corretora_id => garantia.corretora.id).sum(:strike_total), unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %>
                       </p>
                   <% end %>
               </div>
        </div>
        
    </div>
    <div class="col-md-8 mt-4">
    <% @acoes.each do |acao| %>
      <% if @investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade)  + 
            @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade) != 0 %> 
            <div class="card">
               <div class="card-body">
                  <h3 class="m-0">
                      <%= acao.ticker %> &nbsp; 
                       <a href='<%= new_put_path(carteira_id: @carteira.id, ativo_id: acao.id) %>'>
                          <button class="btn btn-outline-green btn-xs ml-4" type="button">
                             <i class="fa fa-opencart"></i> Nova put
                           </button>
                        </a>
                      <small class="text-primary ml-2"><% if acao.valor_atual.present? %><%= number_to_currency(acao.valor_atual, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %><% end %></small>
                      <small class="text-primary float-right">
                        <% if acao.valor_atual.present? %>
                            <%= number_to_currency(((@investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade) +
                                 @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade)) *
                                 acao.valor_atual) , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true)
                             %>
                        <% end %>
                      </small>
                  </h3>
                  
                  <p class="text-muted mt-2">
                    <%= @investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade) %> Ações + 
                    <%= @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade)  %> Puts 
                  </p>
                  
                  
               </div>
               <div class="list-group">
  
                 <% @investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).each do |investimento| %>
                    <% if investimento.quantidade != 0 %>
                       <div class="list-group-item" href="#">
                           
                       <span class="badge badge-primary float-right">
                           <%= investimento.quantidade %> Ações
                            <%= link_to edit_investimento_path(investimento) do %>
                      	     &nbsp; &nbsp; <i class="fa fa-pencil text-white"></i>
                      	    <% end %>
                       </span>
                       <%= investimento.ativo.ticker %> &nbsp;  &nbsp;  &nbsp; <%= investimento.corretora.nome %>
                       <a href='<%= new_put_from_investimentos_path(carteira_id: @carteira.id, ativo_id: acao.id, corretora_id: investimento.corretora.id, investimento_id: investimento.id) %>'>
                          <button class="btn btn-outline-green btn-xs ml-4" type="button">
                             <i class="fa fa-opencart"></i> Nova put
                           </button>
                        </a>
                       </div>
                    <% end %>   
                  <% end %>
                  </br>
                  <% @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).each do |put| %>
                       <div class="list-group-item" href="#">
                       <%= link_to edit_put_path(put) do %>
                       <button class="btn btn-outline-purple btn-xs ml-4 float-right" type="button">
                         <i class="fa fa-pencil"></i> <%= put.estado.status %>
                       </button>
                       <% end %>
                       <span class="badge badge-primary float-right">
                           <%= put.quantidade %> puts
                       </span>
                       <%= put.codigo %> &nbsp;  &nbsp;  &nbsp; <%= put.corretora.nome %> &nbsp;  &nbsp;  &nbsp;
                       <%= number_to_percentage(((put.quantidade * put.valor) / put.strike_total * 100), precision: 2)  %> (yield sintético)
                       </div>
                  <% end %>
              </div>
            </div>
      <% end %>
    <% end %>
    </div>
     
</div>