<h3 class="h4-custom mt-4" id="minhas-paginas">
	 Radar Calls (alocação) <small>&nbsp; <%= @carteira.nome %></small>
</h3>

<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card" id="garantias">
               <div class="card-body">
                   <h3 class="m-0">Algo aqui
                   
                   </h3>
               </div>
               <div class="card-body">
                  
                     
               </div>
        </div>
        
    </div>
    <div class="col-md-8 mt-4">
    <% @acoes.each do |acao| %>
      <% if @investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade)  + 
            @calls_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade) != 0 %> 
            <div class="card">
               <div class="card-body">
                  <h3 class="m-0">
                      <%= acao.ticker %> &nbsp; 
                       <a href='<%= new_call_path(carteira_id: @carteira.id, ativo_id: acao.id) %>'>
                          <button class="btn btn-outline-green btn-xs ml-4" type="button">
                             <i class="fa fa-opencart"></i> Nova call
                           </button>
                        </a>
                      <small class="text-primary float-right"><% if acao.valor_atual.present? %><%= number_to_currency(acao.valor_atual, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %><% end %>
                      </small>
                  </h3>
                  
                  <p class="text-muted mt-2">
                    <%= @investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade) %> Ações - 
                    <%= @calls_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade)  %> Calls = 
            
                    <%= @investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade) -
                        @calls_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).sum(:quantidade) %> 
                        Calls (disponíveis)
                  </p>
                  
                  
               </div>
               <div class="list-group">
  
                 <% @investimentos.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).each do |investimento| %>
                    <% if investimento.quantidade != 0 %>
                       <div class="list-group-item" href="#">
                           
                       <span class="badge badge-primary float-right">
                           <%= investimento.quantidade %> Ações
                            <%= link_to edit_investimento_path(investimento) do %>
                      	     &nbsp; &nbsp; <i class="fa fa-pencil text-white"></i>
                      	    <% end %>
                       </span>
                       <%= investimento.ativo.ticker %> &nbsp;  &nbsp;  &nbsp; <%= investimento.corretora.nome %>
                       <a href='<%= new_call_from_investimentos_path(carteira_id: @carteira.id, ativo_id: acao.id, corretora_id: investimento.corretora.id, investimento_id: investimento.id) %>'>
                          <button class="btn btn-outline-green btn-xs ml-4" type="button">
                             <i class="fa fa-opencart"></i> Nova call
                           </button>
                        </a>
                       </div>
                    <% end %>   
                  <% end %>
                  </br>
                  <% @calls_abertas.where(:ativo_id => acao.id).where(:carteira_id => @carteira.id).each do |call| %>
                       <div class="list-group-item" href="#">
                       <%= link_to edit_call_path(call) do %>
                       <button class="btn btn-outline-purple btn-xs ml-4 float-right" type="button">
                         <i class="fa fa-pencil"></i> <%= call.estado.status %>
                       </button>
                       <% end %>
                       <span class="badge badge-primary float-right">
                           <%= call.quantidade %> calls
                       </span>
                       <%= call.codigo %> &nbsp;  &nbsp;  &nbsp; <%= call.corretora.nome %> &nbsp;  &nbsp;  &nbsp;
                       </div>
                  <% end %>
              </div>
            </div>
      <% end %>
    <% end %>
    </div>
     
</div>