<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Carteira / Portfolio de <%= @carteira.nome %>
</h3>

<div class="table-responsive mb-5">
	<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-center">Id</th>
      <th>Ativo</th>
      <th>Tipo</th>
      <th>Quant.</th>
    </tr>
  </thead>

  <tbody>
    <% @carteira.investimentos.each do |investimento| %>
      <tr>
        <td class="text-center"><%= investimento.id %></td>
        <td><%= investimento.ativo.ticker %></td>
        <td><%= investimento.ativo.tipo.nome %></td>
        <td><%= investimento.quantidade %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h3 class="h3-custom mt-5" id="minhas-paginas">
	<em class="fa fa-usd text-success"></em> &nbsp; Movimentos / atividades
</h3>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
        <th class="text-center">Invest. Id</th>
        <th>Ativo</th> 
        <th>Movimento</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Data de Negociação</th>
    </tr>
  </thead>

  <tbody>
    <% @carteira.atividades.each do |atividade| %>
      <tr>
         <td class="text-center"><%= atividade.investimento_id %></td>
        <td><%= atividade.ativo.ticker %></td> 
        <td><%= atividade.movimento %></td>
        <td><%= atividade.quantidade %></td>
        <td>R$ <%= atividade.valor %></td>
        <td><%= atividade.data_negociada %></td>
        <td><%= link_to 'Edit', edit_atividade_path(atividade) %></td>
        <td><%= link_to 'Destroy', atividade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Edit', edit_carteira_path(@carteira) %> |
<%= link_to 'Back', carteiras_path %>
