<div class="float-right"><%= link_to new_investimento_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo Investimento
	</button><% end %>
</div>

<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; <%= @carteira.nome %> (Ações)
</h3>

<div class="row">
    
    <% @acoes_da_carteira.each do |acao| %>
    <div class="col-md-4 mt-4">
          <div class="card">
             <div class="card-body text-center">
                <h3 class="m-0"><%= acao.ativo.ticker %></h3>
                <p class="text-muted"><%= acao.quantidade %> ações</p>
                <p><%= acao.corretora.nome %></p>
             </div>
             <div class="list-group">
                <% @calls_abertas.where(:investimento_id => acao.id).each do |call| %>

                     <a class="list-group-item" href="#">
                     <span class="badge badge-primary float-right"><%= call.quantidade %></span>
                     <%= call.codigo %>
                     </a>
                <% end %>
            </div>
             
             
             <div class="card-body text-center bg-gray-lighter">
                <div class="row">
                   <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-pencil fa-2x"></em></a></div>
                   <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-plus fa-2x"></em></a></div>
                   <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-eye fa-2x"></em></a></div>
                </div>
             </div>
          </div>
    </div>
    <% end %>
     
</div>