<%= render partial: "carteiras/navbar" %>

<div class="float-right"><%= link_to new_investimento_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo Investimento
	</button><% end %>
</div>

<h3 class="h3-custom mb-4" id="minhas-paginas">
	Portfolio
</h3>



<h3 class="h4 mt-3" id="minhas-paginas">
	Ações
</h3>

<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
               <div class="card-body">
                   <h4 class="m-0">Alguma Info aqui
                   
                   </h4>
               </div>
               <div class="card-body">
                  
               </div>
        </div>
        
    </div>
        <div class="col-md-8 mt-4">
            <% @corretoras.each do |corretora| %>
            <div class="card">
                   <div class="card-body">
                       <h4 class="m-0"><%= corretora.nome %>
                       
                       </h4>
                   </div>
                   
                   <div class="card-body">
                       <div class="list-group">
  
                 <% @investimentos_acoes.where(:carteira_id => @carteira.id).where(:corretora_id => corretora.id).each do |investimento| %>
                    <%# if investimento.quantidade != 0 %>
                       <div class="list-group-item" href="#">
                           
                       <span class="badge badge-primary float-right">
                           <%= investimento.quantidade %> Ações
                            <%= link_to edit_investimento_path(investimento) do %>
                      	     &nbsp; &nbsp; <i class="fa fa-pencil text-white"></i>
                      	    <% end %>
                       </span>
                       <%= investimento.ativo.ticker %> &nbsp;  &nbsp;  &nbsp; <%= investimento.corretora.nome %>
                       <a href='<%= new_put_from_investimentos_path(
                                   carteira_id: @carteira.id, 
                                   ativo_id: investimento.ativo.id, 
                                   corretora_id: investimento.corretora.id, 
                                   investimento_id: investimento.id) %>'>
                          <button class="btn btn-outline-green btn-xs ml-4" type="button">
                             <i class="fa fa-opencart"></i> Nova put
                           </button>
                        </a>
                        <a href='<%= new_call_from_investimentos_path(
                                    carteira_id: @carteira.id, 
                                    ativo_id: investimento.ativo.id, 
                                    corretora_id: investimento.corretora.id, 
                                    investimento_id: investimento.id) %>'>
                          <button class="btn btn-outline-green btn-xs ml-4" type="button">
                             <i class="fa fa-opencart"></i> Nova call
                           </button>
                        </a>
                       </div>
                    <%# end %>   
                  <% end %>
                  </br>
                  
              </div>
                   </div>
                   
            </div>
            <% end %>
        </div>
</div>



