<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-usd text-success"></em> &nbsp; Calls Abertas
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" id="DerivaMoveTable">
          <thead>
            <tr class="header">
              <td></td>
              <td></td>
              <th>Corretora</th>
              <th>Carteira</th>
              <th>Tipo</th>
              <th>Vencimento</th>
              <th>Premio</th>
              <th>Quant</th>
              <th>Strike</th>
              <th>Strike Total</th>
              <th>Resultado</th>
              <th colspan="2"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @calls_abertas.each do |dm| %>
            <tr>
                <td><%= dm.codigo %></td>
                <td><%= dm.ativo.ticker %></td>
                <td><%= dm.estado.status %></td>
                <td><%= dm.carteira.nome %></td>
                <td><%= dm.corretora.nome %></td>
                <td><%= dm.deriva_tipo.tipo %></td>
                <td><%= dm.vencimento.data.strftime("%d/%m/%Y") %></td>
                <td><%= dm.valor %></td>
                <td><%= dm.quantidade %></td>
                <td>
                <% if dm.strike.present? %>
                  <%= dm.strike  %>
                <% end %>
                </td>
                <td>
                <% if dm.strike_total.present? %>
                  <%= dm.strike_total  %>
                <% end %>
                </td>
                <td style="width: 145px;">
                    <span class="text-primary"><%= resultado_aberta(dm) %></span>
                    <span class="text-primary"><%= resultado_po(dm) %></span>
                    <span class="text-primary"><% if dm.strike.present? %><%= resultado_exercicio(dm) %><% end %></span>
                    <span class="text-<%= cor_resultado_recompra(dm) %>"><%= resultado_recompra(dm) %></span>
                    
                </td>
            
                
              </tr>
            <% end %>
          </tbody>
    </table>
</div>

<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-usd text-success"></em> &nbsp; Puts Abertas
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" id="DerivaMoveTable">
          <thead>
            <tr class="header">
              <td></td>
              <td></td>
              <th>Corretora</th>
              <th>Carteira</th>
              <th>Tipo</th>
              <th>Vencimento</th>
              <th>Premio</th>
              <th>Quant</th>
              <th>Strike</th>
              <th>Strike Total</th>
              <th>Resultado</th>
              <th colspan="2"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @puts_abertas.each do |dm| %>
            <tr>

                <td><%= dm.codigo %></td>
                <td><%= dm.ativo.ticker %></td>
                
                <td><%= dm.estado.status %></td>
                <td><%= dm.carteira.nome %></td>
                <td><%= dm.corretora.nome %></td>
                <td><%= dm.deriva_tipo.tipo %></td>
                <td><%= dm.vencimento.data.strftime("%d/%m/%Y") %></td>
                <td><%= dm.valor %></td>
                <td><%= dm.quantidade %></td>
                <td>
                <% if dm.strike.present? %>
                  <%= dm.strike  %>
                <% end %>
                </td>
                <td>
                <% if dm.strike_total.present? %>
                  <%= dm.strike_total  %>
                <% end %>
                </td>
                <td style="width: 145px;">
                    <span class="text-primary"><%= resultado_aberta(dm) %></span>
                    <span class="text-primary"><%= resultado_po(dm) %></span>
                    <span class="text-primary"><% if dm.strike.present? %><%= resultado_exercicio(dm) %><% end %></span>
                    <span class="text-<%= cor_resultado_recompra(dm) %>"><%= resultado_recompra(dm) %></span>
                    
                </td>
            
                
              </tr>
            <% end %>
          </tbody>
    </table>
</div>

