<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-usd text-success"></em> &nbsp; Calls Abertas
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" id="DerivaMoveTable">
          <thead>
            <tr class="header">

            </tr>
          </thead>
        
          <tbody>
            <% @calls_abertas.each do |dm| %>
            <tr>
                <td><%= dm.codigo %></td>
                <td><%= dm.ativo.ticker %></td>
                <td><%= dm.carteira.nome %></td>
                <td><%= dm.corretora.nome %></td>
                <td><%= dm.deriva_tipo.tipo %></td>
                <td><%= dm.vencimento.data.strftime("%d/%m/%Y") %></td>
                <td><%= dm.valor %></td>
                <td><%= dm.quantidade %></td>
                <td>
                <% if dm.strike.present? %>
                  <%= dm.strike  %>
                <% end %>
                </td>
            
                
              </tr>
            <% end %>
          </tbody>
    </table>
</div>

<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-usd text-success"></em> &nbsp; Puts Abertas
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" id="DerivaMoveTable">
          <thead>
            <tr class="header">

            </tr>
          </thead>
        
          <tbody>
            <% @puts_abertas.each do |dm| %>
            <tr>

                <td><%= dm.codigo %></td>
                <td><%= dm.ativo.ticker %></td>
                <td><%= dm.carteira.nome %></td>
                <td><%= dm.corretora.nome %></td>
                <td><%= dm.deriva_tipo.tipo %></td>
                <td><%= dm.vencimento.data.strftime("%d/%m/%Y") %></td>
                <td><%= dm.valor %></td>
                <td><%= dm.quantidade %></td>
                <td>
                <% if dm.strike.present? %>
                  <%= dm.strike  %>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
    </table>
</div>

