<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Minha Holding (Classes e Sistema)
</h3>

<div class="row">
    
    <div class="col-md-3">
      <div class="card mb-5 border-success" id="movimento derivativos">
             <div class="card-body">
                        <%= link_to deriva_moves_path, class: '' do %>
                             <button class="btn btn-pill-right btn-lg btn-outline-primary mb-3" type="button">Movimentações Derivativos</button>
                        <% end %>

                        <%= link_to new_deriva_move_path, class: '' do %>
                             <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar Movimentação</button>
                        <% end %>

                 </div>
        </div>
      <div class="card mb-3 border-success" id="derivativos">
         <div class="card-body">
                <%= link_to derivativos_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary mb-3" type="button">Derivativos</button>
                <% end %>
                <%= link_to new_derivativo_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar Derivativo</button>
                <% end %>
         </div>
      </div>
      <div class="card mb-3 border-success" id="derivativo status">
         <!--<div class="card-header">Derivativo Status</div>-->
         <div class="card-body">
                <%= link_to estados_path do %>
                     <button class="btn btn-pill-right btn-outline-primary ml-5 mb-3" type="button">Derivativo Status</button>
                <% end %>

                <%= link_to new_estado_path do %>
                     <button class="btn btn-pill-right btn-outline-primary ml-5" type="button">Criar Estado</button>
                <% end %>
         </div>
      </div>
      <div class="card mb-3 border-success" id="derivativos vencimento">
         <div class="card-body">
            <%= link_to vencimentos_path, class: '' do %>
                 <button class="btn btn-pill-right btn-outline-primary ml-5 mb-3" type="button">Derivativo Vencimento</button>
            <% end %>

            <%= link_to new_vencimento_path, class: '' do %>
                 <button class="btn btn-pill-right btn-outline-primary ml-5" type="button">Criar Vencimento</button>
            <% end %>
         </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="card mb-5 border-success" id="movimento ativos">
         <div class="card-body">
                <%= link_to ativo_moves_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary mb-3" type="button">Movimentações Ativos</button>
                <% end %>

                <%= link_to new_ativo_move_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar Movimentação</button>
                <% end %>
         </div>
      </div>
      <div class="card mb-3 border-success" id="ativos">
         <div class="card-body">
                <%= link_to ativos_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary mb-3" type="button">Ativos</button>
                <% end %>
                </br>
                <%= link_to new_ativo_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar Ativo</button>
                <% end %>
         </div>
      </div>
      <div class="card mb-3 border-success" id="tipos de ativos">
         <div class="card-body">
                <%= link_to tipos_path, class: '' do %>
                     <button class="btn btn-pill-right btn-outline-primary ml-5 mb-3" type="button">Tipos de Ativos</button>
                <% end %>
                </br>
                <%= link_to new_tipo_path, class: '' do %>
                     <button class="btn btn-pill-right btn-outline-primary ml-5" type="button">Criar Tipo</button>
                <% end %>

         </div>
      </div>     
    </div>
    


    <div class="col-md-3">
        <div class="card mb-3 border-success" id="investimentos">
             <div class="card-body">
                    <%= link_to investimentos_path, class: '' do %>
                         <button class="btn btn-pill-right btn-lg btn-outline-primary mb-3" type="button">Investimentos</button>
                    <% end %>

                    <%= link_to new_investimento_path, class: '' do %>
                         <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar Investimento</button>
                    <% end %>
             </div>
        </div>
    </div>
    
    <div class="col-md-3">
      <div class="card mb-3 border-success" id="carteiras">
         <div class="card-body">
                <%= link_to carteiras_path do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary mb-3" type="button">Carteiras</button>
                <% end %>
                </br>
                <%= link_to new_carteira_path do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar Carteira</button>
                <% end %>
         </div>
      </div>

      <div class="card mb-3 border-success" id="corretoras">
         <div class="card-body">
                <%= link_to corretoras_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary mb-3" type="button">Corretoras</button>
                <% end %>
                </br>
                <%= link_to new_corretora_path, class: '' do %>
                     <button class="btn btn-pill-right btn-lg btn-outline-primary" type="button">Criar Corretora</button>
                <% end %>
         </div>
      </div>
    </div>
    

    

</div>


