<h3 class="h3-custom" id="minhas-paginas">
	 Alocação das Puts
</h3>
<% @carteiras.each do |carteira| %>
<h3 class="h4-custom mt-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; <%= carteira.nome %>
</h3>

<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card" id="garantias">
               <div class="card-body">
                   <h3 class="m-0">Garantias
                   <small class="float-right">
                       <a href='<%= new_garantia_path(carteira_id: carteira.id) %>'>
                          &nbsp;<i class="fa fa-plus-square-o"></i>
                        </a>
                  	
                   </small>
                   </h3>
               </div>
               <div class="card-body">
                   <!--Garantia está em investimentos-->
                   <% @garantias.where(:carteira_id => carteira.id).each do |garantia| %>
                       <p class="mt-0">
                           <%= garantia.ativo.ticker %>  /  <%= garantia.corretora.nome  %>
                               <%= link_to edit_investimento_path(garantia) do %>
                              	     &nbsp;<i class="fa fa-pencil"></i>
                              	<% end %>
                                </a>
                        <p class="text-right">   
                           Disponível: <%= number_to_currency(garantia.valor_medio, unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %>
                        </p>
                        <p class="text-right">
                           Usada: <%= number_to_currency(@puts_abertas.where(:carteira_id => carteira.id).where(:corretora_id => garantia.corretora.id).sum(:strike_total), unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %>
                       </p>
                   <% end %>
               </div>
        </div>
        
    </div>
    <div class="col-md-8 mt-4">
    <% @acoes.each do |acao| %>
      <% if @investimentos.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).sum(:quantidade)  + 
            @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).sum(:quantidade) != 0 %> 
            <div class="card">
               <div class="card-body">
                  <h3 class="m-0">
                      <%= acao.ticker %> &nbsp; 
                      <small class="float-right ml-2">
                       <a href='<%= new_put_path(carteira_id: carteira.id, ativo_id: acao.id) %>'>
                          &nbsp;<i class="fa fa-plus-square-o"></i>
                        </a>
                       </small>
                      <small class="text-primary"><% if acao.valor_atual.present? %><%= acao.valor_atual %><% end %></small>
                      <small class="text-primary float-right">
                        <% if acao.valor_atual.present? %>
                            <%= number_to_currency(((@investimentos.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).sum(:quantidade) +
                                 @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).sum(:quantidade)) *
                                 acao.valor_atual) , unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true)
                             %>
                        <% end %>
                      </small>
                  </h3>
                  
                  <p class="text-muted mt-2">
                    <%= @investimentos.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).sum(:quantidade) %> Ações + 
                    <%= @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).sum(:quantidade)  %> Puts 
                  </p>
                  
                  
               </div>
               <div class="list-group">
  
                 <% @investimentos.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).each do |investimento| %>
                    <% if investimento.quantidade != 0 %>
                       <div class="list-group-item" href="#">
                       <span class="badge badge-primary float-right"><%= investimento.quantidade %></span>
                       <a href='<%= new_put_from_investimentos_path(carteira_id: carteira.id, ativo_id: acao.id, corretora_id: investimento.corretora.id, investimento_id: investimento.id) %>'>
                          &nbsp;<i class="fa fa-plus-square-o mr-2"></i>
                        </a>
                       <%= investimento.ativo.ticker %> &nbsp;  &nbsp;  &nbsp; <%= investimento.corretora.nome %>
                       <%= link_to edit_investimento_path(investimento) do %>
                      	     &nbsp; &nbsp; <i class="fa fa-pencil"></i>
                      	<% end %>
                       </div>
                    <% end %>   
                  <% end %>
                  </br>
                  <% @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).each do |put| %>
                       <a class="list-group-item" href="#">
                       <span class="badge badge-primary float-right"><%= put.quantidade %></span>
                       <%= put.codigo %> &nbsp;  &nbsp;  &nbsp; <%= put.corretora.nome %>
                       </a>
                  <% end %>
              </div>
               
               
               <!--<div class="card-body text-center bg-gray-lighter">-->
               <!--   <div class="row">-->
               <!--      <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-pencil fa-2x"></em></a></div>-->
               <!--      <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-plus fa-2x"></em></a></div>-->
               <!--      <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-eye fa-2x"></em></a></div>-->
               <!--   </div>-->
               <!--</div>-->
            </div>
      <% end %>
    <% end %>
    </div>
     
</div>
<% end %>