<%= form_with(model: deriva_move, local: true) do |form| %>
  <% if deriva_move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deriva_move.errors.count, "error") %> prohibited this deriva_move from being saved:</h2>

      <ul>
      <% deriva_move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-2 mt-4" style="display:none"> 
    <label>Filtro (Ativo Base)</label>
    <input type="text" class="form-control" placeholder="Ex: BBAS" maxlength="4" id="derivativo_filter"/>
  </div>
  <div class="col-md-2 mt-4" style="display:none">
    <label> Ativo base </label> <%= link_to new_ativo_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.number_field :ativo_id, value: @ativo_id, class: 'form-control' %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :investimento_id %> <%= link_to new_investimento_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.select :investimento_id, Investimento.where(:carteira_id => @carteira_id).where(:ativo_id => @ativo_id).all.collect {|d| [d.custom_invest, d.id]}, {}, {class: 'form-control'} %>
  </div>


  
  <div class="col-md-4 mt-4">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, class: 'form-control' %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :strike %> <% if !(@deriva_move.new_record?) %> &nbsp; <small> <%= @deriva_move.derivativo.strike %></small> <% end %>
    <%= form.text_field :strike, class: 'form-control' %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :corretora_id %> <%= link_to new_corretora_path do %> &nbsp; <small> (Nova)</small> <% end %>
    <%= form.select :corretora_id, Corretora.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
  </div>
  
  <div class="col-md-4 mt-4" style="display:none">
    <label>Tipo</label> <%= link_to new_deriva_tipo_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.number_field :deriva_tipo_id, value: 2, class: 'form-control' %> 
    <!--2 é put-->
  </div>
  

  <div class="col-md-2 mt-4" style="display:none">
    <%= form.label :carteira_id %> <%= link_to new_carteira_path do %> &nbsp; <small> (Nova)</small> <% end %>
    <%= form.number_field :carteira_id, value: @carteira_id, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4" style="display:none">
    <%= form.label :estado_id %> <%= link_to new_estado_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.select :estado_id, Estado.all.collect {|d| [d.status, d.id]}, {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4" >
    <%= form.label :valor %>
    <%= form.text_field :valor, :required => true, class: 'form-control'  %>
  </div>


  <div class="col-md-4 mt-4">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, :required => true,  class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :vencimento_id %> <%= link_to new_vencimento_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.select :vencimento_id, Vencimento.all.collect {|d| [d.data.strftime("%d/%m/%Y"), d.id]}, {:selected => 3}, {class: 'form-control'} %>
  </div>
  
  <div id="recompra" class="col-md-4 mt-4" style="display:none">
      <label> Apenas em caso de recompra</label>
      <%= form.text_field :valor_recompra, class: 'form-control' %>
      <label> Cola para recompra</label>
      <input type="text" class="form-control" id="cola"/>
  </div>

  <div id="resultado" class="col-md-4 mt-4" style="display:none" >
    <%= form.label :resultado %>
    <%= form.text_field :resultado, :required => true, class: 'form-control' %>
  </div>
  
  <!--Campo será removido e classe derivativos apagada, antes verificar a questao do webscraping-->
  <div class="col-md-2 mt-4" style="display:none"> <%= link_to new_derivativo_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.label :derivativo_id %>
    <%= form.select :derivativo_id, Derivativo.all.order("codigo asc").collect {|d| [d.codigo, d.id]}, {}, {class: 'form-control'} %>
  </div>
    
  <!--Campos escondidos style="display:none"  -->
  <div class="col-md-4 mt-4" style="display:none">
    <%= form.label :strike_total %>
    <%= form.text_field :strike_total, class: 'form-control' %>
  </div>
  
  <div class="col-md-4 mt-4" style="display:none">
    <%= form.label :movimento %>
    <%= form.select :movimento, [["Venda","Venda"], ["Compra","Compra"]], {}, {class: 'form-control'} %>
  </div>  
    
    
  <div class="col-md-4 mt-4 mb-3" style="display:none">
    <%= form.label :data %> de Negociação</br>
    <%= form.date_select :data %>
  </div>

</div>


 <div class="row" style="display:none">  
    <div class="col-md-5 mt-4". >
      <%= form.label :data_recompra %></br>
      <%= form.date_select :data_recompra %>
    </div>
  </div>


<div class="row">
	<div class="col-md-3 mt-4">
		<div class="form-group">
			<%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
		</div>
	</div>
</div>
<% end %>

<!--Jquery para calcular o resultados .-->
<script>

// Resultado abertura ou pó
$(document).ready(function(){
    $('#deriva_move_valor').keyup(calculate);
    $('#deriva_move_quantidade').keyup(calculate);
});
function calculate(e)
{
    $('#deriva_move_resultado').val($('#deriva_move_valor').val() * $('#deriva_move_quantidade').val());
}
// Resultado cola valor de recompra
$(document).ready(function(){
    $('#deriva_move_valor').keyup(calculate2);
    $('#deriva_move_valor_recompra').keyup(calculate2);
    $('#deriva_move_quantidade').keyup(calculate2);
    
});
function calculate2(e)
{
    $('#cola').val(  
      $('#deriva_move_valor').val() * $('#deriva_move_quantidade').val() - $('#deriva_move_valor_recompra').val() * $('#deriva_move_quantidade').val() );
}


// Resultado strike_total
$(document).ready(function(){
    $('#deriva_move_strike').keyup(calculate3);
    $('#deriva_move_quantidade').keyup(calculate3);
});
function calculate3(e)
{
    $('#deriva_move_strike_total').val($('#deriva_move_strike').val() * $('#deriva_move_quantidade').val());
}



</script>



<script>
// jquery para filtrar derivativos
$('#derivativo_filter').keyup(function () {
      var valthis = $(this).val().toLowerCase();
      var num = 0;
      $('select#deriva_move_ativo_id>option').each(function () {
          var text = $(this).text().toLowerCase();
          if(text.indexOf(valthis) !== -1)  
              {$(this).show(); $(this).prop('selected',true);}
          else{$(this).hide();}
           });
});

$('#derivativo_filter').keyup(function () {
      var valthis = $(this).val().toLowerCase();
      var num = 0;
      $('select#deriva_move_investimento_id>option').each(function () {
          var text = $(this).text().toLowerCase();
          if(text.indexOf(valthis) !== -1)  
              {$(this).show(); $(this).prop('selected',true);}
          else{$(this).hide();}
           });
});



</script>


<!--Mostra e esconde campo recompra e resultado-->
<script>  
$(document).ready(function(){
    $('#deriva_move_estado_id').on('change', function() {
      if ( this.value == '4')
      {
        $("#recompra").show();
      }
      else
      {
        $("#recompra").hide();
      }
    });
});

$(document).ready(function(){
    $('#deriva_move_estado_id').on('change', function() {
      if ( this.value == '2' || this.value == '4' )
      {
        $("#resultado").show();
      }
      else
      {
        $("#resultado").hide();
      }
    });
});


</script>    

<script>
$('#derivativo_filter').change(function() {
    $('#deriva_move_codigo').val($(this).val());
});
</script>






  
