<%= form_with(model: deriva_move, local: true) do |form| %>
  <% if deriva_move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deriva_move.errors.count, "error") %> prohibited this deriva_move from being saved:</h2>

      <ul>
      <% deriva_move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-4 mt-4">
    <%= form.label :carteira_id %>
    <%= form.select :carteira_id, Carteira.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :derivativo_id %>
    <%= form.select :derivativo_id, Derivativo.all.collect {|d| [d.codigo, d.id]}, {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :estado_id %>
    <%= form.select :estado_id, Estado.all.collect {|d| [d.status, d.id]}, {}, {class: 'form-control'} %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :investimento_id %>
    <%= form.select :investimento_id, Investimento.all.collect {|d| [d.id, d.id]}, {}, {class: 'form-control'} %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :corretora_id %>
    <%= form.select :corretora_id, Corretora.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-4 mt-4">
    <%= form.label :movimento %>
    <%= form.select :movimento, [["Compra","Compra"], ["Venda","Venda"]], {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :valor %>
    <%= form.text_field :valor, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, class: 'form-control' %>
  </div>
  <div class="col-md-4 mt-4">
    <%= form.label :resultado %>
    <%= form.number_field :resultado, class: 'form-control' %>
  </div>
  <div class="col-md-4 mt-4">
    <%= form.label :data %></br>
    <%= form.date_select :data %>
  </div>
</div>
<div class="row">  
  <div class="col-md-12 mt-4">
    <p>preencher apenas em caso de recompra</p>
  </div>
  <div class="col-md-6 mt-4">
    <%= form.label :valor_recompra %>
    <%= form.text_field :valor_recompra, class: 'form-control' %>
  </div>
  <div class="col-md-6 mt-4">
    <%= form.label :data_recompra %></br>
    <%= form.date_select :data_recompra %>
  </div>
</div>

<div class="row">
	<div class="col-md-3 mt-4">
		<div class="form-group">
			<%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
		</div>
	</div>
</div>
<% end %>
