<p id="notice"><%= notice %></p>

<p>
  <strong>Carteira:</strong>
  <%= @deriva_move.carteira %>
</p>

<p>
  <strong>Derivativo:</strong>
  <%= @deriva_move.derivativo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @deriva_move.estado %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @deriva_move.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @deriva_move.data %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @deriva_move.quantidade %>
</p>

<p>
  <strong>Movimento:</strong>
  <%= @deriva_move.movimento %>
</p>

<%= link_to 'Edit', edit_deriva_move_path(@deriva_move) %> |
<%= link_to 'Back', deriva_moves_path %>
