<%= form_with(model: derivativo, local: true) do |form| %>
  <% if derivativo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(derivativo.errors.count, "error") %> prohibited this derivativo from being saved:</h2>

      <ul>
      <% derivativo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">

  <div class="col-md-4 mt-4">
    <%= form.label :tipo %>
    <%= form.select :tipo, [["Call","Call"], ["Put","Put"]], {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-4 mt-4">
    <label> Ativo base </label>
    <%= form.select :ativo_id, Ativo.all.collect {|d| [d.ticker, d.id]}, {}, {class: 'form-control'} %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :strike %>
    <%= form.text_field :strike, class: 'form-control' %>
  </div>



  <div class="col-md-4 mt-4">
    <%= form.label :vencimento %> </br>
    <%= form.date_select :vencimento, class: 'form-control' %>
  </div>


</div>
<div class="row">
	<div class="col-md-3 mt-4">
		<div class="form-group">
			<%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
		</div>
	</div>
</div>
<% end %>
