<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @derivativo.codigo %>
</p>

<p>
  <strong>Strike:</strong>
  <%= @derivativo.strike %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @derivativo.tipo %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @derivativo.vencimento %>
</p>


<p>
  <strong>Ativo:</strong>
  <%= @derivativo.ativo %>
</p>



<%= link_to 'Edit', edit_derivativo_path(@derivativo) %> |
<%= link_to 'Back', derivativos_path %>
