<%= form_with(model: vencimento, local: true) do |form| %>
  <% if vencimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vencimento.errors.count, "error") %> prohibited this vencimento from being saved:</h2>

      <ul>
      <% vencimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
