<p id="notice"><%= notice %></p>

<h1>Vencimentos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vencimentos.each do |vencimento| %>
      <tr>
        <td><%= vencimento.data %></td>
        <td><%= link_to 'Show', vencimento %></td>
        <td><%= link_to 'Edit', edit_vencimento_path(vencimento) %></td>
        <td><%= link_to 'Destroy', vencimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vencimento', new_vencimento_path %>
