<%= form_with(model: ativo_move, local: true) do |form| %>
  <% if ativo_move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ativo_move.errors.count, "error") %> prohibited this ativo_move from being saved:</h2>

      <ul>
      <% ativo_move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">


  <div class="col-md-4 mt-4">
    <%= form.label :carteira_id %>
    <%= form.select :carteira_id, Carteira.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
  </div>
  
    <div class="col-md-4 mt-4">
    <%= form.label :investimento_id %>
    <%= form.select :investimento_id, Investimento.all.collect {|d| [d.ativo.ticker, d.id]}, {}, {class: 'form-control'} %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :corretora_id %>
    <%= form.select :corretora_id, Corretora.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :tipo_id %>
    <%= form.select :tipo_id, Tipo.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :ativo_id %>
    <%= form.select :ativo_id, Ativo.all.collect {|d| [d.ticker, d.id]}, {}, {class: 'form-control'} %>
  </div>
  
  <div class="col-md-4 mt-4">
    <%= form.label :movimento %>
    <%= form.select :movimento, [["Compra","Compra"], ["Venda","Venda"]], {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :valor %>
    <%= form.text_field :valor, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :data %> </br>
    <%= form.date_select :data %>
  </div>

  <div class="col-md-4 mt-4">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, class: 'form-control' %>
  </div>
  
</div>
<div class="row">
    <div class="col-md-4 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
