<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @ativo_move.codigo %>
</p>

<p>
  <strong>Carteira:</strong>
  <%= @ativo_move.carteira %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @ativo_move.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @ativo_move.data %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @ativo_move.quantidade %>
</p>

<p>
  <strong>Movimento:</strong>
  <%= @ativo_move.movimento %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @ativo_move.tipo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @ativo_move.ativo %>
</p>

<p>
  <strong>Investimento:</strong>
  <%= @ativo_move.investimento %>
</p>

<p>
  <strong>Corretora:</strong>
  <%= @ativo_move.corretora %>
</p>

<%= link_to 'Edit', edit_ativo_move_path(@ativo_move) %> |
<%= link_to 'Back', ativo_moves_path %>
