<%= render partial: "carteiras/navbar" %>

<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-usd text-success"></em><em class="fa fa-usd text-success"></em><em class="fa fa-usd text-success"></em> &nbsp; Radar Puts
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" id="DerivaMoveTable">
          <thead>
            <tr class="header">
                <th>Código</th>
                <th>Vencimento</th>
                <th>Yield Sintético</th>
                <th>Meu Premio</th>
                <th>Premio Hoje</th>
                <th>Premio Desejado</th>
                <th>Quant</th>
                <th>Strike</th>
                <th>Exercicio</th>
                <th>Cotação</th>
                <th>Cotação / Strike</th>
                <th>Cotação / Exercicio</th>
                <th colspan="2"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @puts_abertas.where(:carteira_id => @carteira.id).order("created_at desc").each do |dm| %>
            <tr>
                <td><%= dm.codigo %></td>
                <td><%= dm.vencimento.data.strftime("%d/%m/%Y") %></td>
                <td><%= number_to_percentage(yield_sintetico(dm), precision: 2) %></td>
                <td><%= number_to_currency(dm.valor, precision: 2, unit: "") %></td>
                <td><%= number_to_currency(dm.valor_hoje, precision: 2, unit: "") %>
                </br><%= texto_premio_hj(dm) %></td>
                <td><%= number_to_currency(dm.strike * 0.01, precision: 2, unit: "") %>
                </br><%= texto_premio_desejado(dm) %></td>
                <td><%= dm.quantidade %></td>
                <td><%= number_with_delimiter(dm.strike, delimiter: '.', separator: ',')  %></td>
                <td><%= number_with_delimiter(exercicio(dm), delimiter: '.', separator: ',')  %></td>
                <td><%= number_to_currency(dm.ativo.valor_atual, precision: 2, unit: "") %></td>
                <td class="<%= cor_cotacao_strike(dm)%>"> <%= number_to_percentage(cotacao_strike(dm), precision: 2) %></td>
                <td class="<%= cor_cotacao_exercicio(dm)%>"> <%=  number_to_percentage(cotacao_exercicio(dm), precision: 2) %> </td>
                <td><%= link_to 'E', edit_deriva_move_path(dm) %></td>
                <td><%= link_to 'D', dm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
</div>

