<div class="float-right"><%= link_to new_investimento_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo Investimento
	</button><% end %>
</div>

<h3 class="h3-custom" id="minhas-paginas">
	 Alocação das Puts
</h3>
<% @carteiras.each do |carteira| %>
<h3 class="h4-custom mt-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; <%= carteira.nome %>
</h3>
<div class="row">
    <% @acoes.each do |acao| %>
      <% if @investimentos.where(:ativo_id => acao.id).sum(:quantidade)  + @puts_abertas.where(:ativo_id => acao.id).sum(:quantidade) != 0 %> 
      <div class="col-md-4 mt-4">
            <div class="card">
               <div class="card-body text-center">
                  <h3 class="m-0"><%= acao.ticker %></h3>
                  <p class="text-muted">
                    <%= @investimentos.where(:ativo_id => acao.id).sum(:quantidade)  + @puts_abertas.where(:ativo_id => acao.id).sum(:quantidade)  %> (Ações + Puts)</p>
               </div>
               <div class="list-group">
  
                 <% @investimentos.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).each do |investimento| %>
                    <% if investimento.quantidade != 0 %>
                       <a class="list-group-item" href="#">
                       <span class="badge badge-primary float-right"><%= investimento.quantidade %></span>
                       <%= investimento.ativo.ticker %> &nbsp;  &nbsp;  &nbsp; <%= investimento.corretora.nome %>
                       </a>
                    <% end %>   
                  <% end %>
                  </br>
                  <% @puts_abertas.where(:ativo_id => acao.id).where(:carteira_id => carteira.id).each do |put| %>
                       <a class="list-group-item" href="#">
                       <span class="badge badge-primary float-right"><%= put.quantidade %></span>
                       <%= put.codigo %> &nbsp;  &nbsp;  &nbsp; <%= put.corretora.nome %>
                       </a>
                  <% end %>
              </div>
               
               
               <!--<div class="card-body text-center bg-gray-lighter">-->
               <!--   <div class="row">-->
               <!--      <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-pencil fa-2x"></em></a></div>-->
               <!--      <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-plus fa-2x"></em></a></div>-->
               <!--      <div class="col-4"><a class="text-gray-dark" href="#"><em class="fa fa-eye fa-2x"></em></a></div>-->
               <!--   </div>-->
               <!--</div>-->
            </div>
      </div>
      <% end %>
    <% end %>
    
    <% @acoes.each do |acao| %>
      <% if @investimentos.where(:ativo_id => acao.id).sum(:quantidade)  + @puts_abertas.where(:ativo_id => acao.id).sum(:quantidade) == 0 %> 
        <div class="col-md-4 mt-4">
            <div class="card">
               <div class="card-body">
                  <h3 class="m-0"><%= acao.ticker %></h3>
                </div> 
            </div>
        </div>

      <% end %>
    <% end %>
     
</div>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @deriva_tipo.tipo %>
</p>

<%= link_to 'Edit', edit_deriva_tipo_path(@deriva_tipo) %> |
<%= link_to 'Back', deriva_tipos_path %>
