<%= form_with(model: investimento, local: true) do |form| %>
  <% if investimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investimento.errors.count, "error") %> prohibited this investimento from being saved:</h2>

      <ul>
      <% investimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  
  <div class="col-md-4 mt-4" style="display:none">
    <%= form.label :carteira_id %> <%= link_to new_carteira_path do %> &nbsp; <small> (Nova)</small> <% end %>
    <%= form.number_field :carteira_id, value: @carteira_id, class: 'form-control' %>
  </div>
  
  <div class="col-md-4 mt-4"> 
    <%= form.label :corretora_id %> <%= link_to new_corretora_path do %> &nbsp; <small> (Nova)</small> <% end %>
    <%= form.select :corretora_id, Corretora.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
  </div>

  <div class="col-md-4 mt-4" style="display:none">
    <%= form.label :ativo_id %> <%= link_to new_ativo_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.number_field :ativo_id, value: 2, class: 'form-control' %>
  </div>
  
  <div class="col-md-4 mt-4" style="display:none">
    <%= form.label :tipo_id %> <%= link_to new_tipo_path do %> &nbsp; <small> (Novo)</small> <% end %>
    <%= form.number_field :tipo_id, value: 2, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4" style="display:none">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, value: 1, class: 'form-control' %>
  </div>

  <div class="col-md-4 mt-4">
    <label>Garantias</label>
    <%= form.text_field :valor_medio, class: 'form-control' %>
  </div>
  
  <%= hidden_field_tag :previous_request, request.referer %>  

</div>
<div class="row">
	<div class="col-md-3 mt-4">
		<div class="form-group">
			<%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
		</div>
	</div>
</div>
<% end %>
