


    
<%= form_tag investimentos_path, method: :get, enforce_utf8: false do %>
    <div class="row">
        <div class="col-md-2 mt-4 mb-4">
            <%= select_tag :por_carteira, options_for_select(Carteira.all.collect {|t| [t.nome, t.id]}, selected: params[:por_carteira]), prompt: 'Carteira', class: 'form-control' %>
        </div>
        <div class="col-md-2 mt-4 mb-4">
            <%= select_tag :por_tipo, options_for_select(Tipo.all.collect {|t| [t.nome, t.id]}, selected: params[:por_tipo]), prompt: 'Tipo', class: 'form-control' %>
        </div>
        <div class="col-md-2 mt-4 mb-4">
            <%= select_tag :por_corretora, options_for_select(Corretora.all.collect {|t| [t.nome, t.id]}, selected: params[:por_corretora]), prompt: 'Corretora', class: 'form-control' %>
        </div>
        <div class="col-md-2 mt-4 mb-4">
            <%= select_tag :por_ativo, options_for_select(Ativo.all.collect {|t| [t.ticker, t.id]}, selected: params[:por_ativo]), prompt: 'Ativo', class: 'form-control' %>
        </div>
        <div class="col-md-2 mt-4 mb-4">
            <%= submit_tag 'Filtrar', class: 'btn btn-default', name: nil %>
        </div>
    </div>
<% end %> 

<div class="float-right"><%= link_to new_investimento_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo Investimento
	</button><% end %>
</div>
 
<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Investimentos - Ações e Derivativos
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>

      <th>Ativo</th>
      <th>Derivativo</th>
      <th>tipo</th>
      <th>Quant</th>
      <th>Corretora</th>
      <th>Preço Médio</th>
      <th>Resultado</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @investimentos.where(:tipo_id => 3).each do |investimento| %>
      <tr>

        <td><%= investimento.ativo.ticker %></td>
        <td></td>
        <td></td>
        <td><%= investimento.quantidade %></td>
        <td><%= investimento.corretora.nome %></td>
        <td><%= investimento.valor_medio %></td>
        <td></td>
      </tr>
          <% investimento.deriva_moves.where(:estado_id => 1).each do |dm| %>
              
  
                  <td></td>
                  <td><%= dm.derivativo.codigo %></td>
                  <td><%= dm.derivativo.tipo %></td>
                  <td><%= dm.quantidade %></td>
                  <td></td>
                  <td></td>
                  
                  <td>
                      <span class="text-primary"><%= resultado_aberta(dm) %></span>
                      <span class="text-primary"><%= resultado_po(dm) %></span>
                      <span class="text-primary"><%= resultado_exercicio(dm) %></span>
                      <span class="text-<%= cor_resultado_recompra(dm) %>"><%= resultado_recompra(dm) %></span>
                      
                  </td>
                </tr>
            <% end %>
    <% end %>
  </tbody>
</table>
</div>

