
    
<%= form_tag investimentos_path, method: :get do %>
    <div class="row">
        <div class="col-md-4 mt-4 mb-4">
            <%= select_tag :por_carteira, options_for_select(Carteira.all.collect {|t| [t.nome, t.id]}, selected: params[:por_carteira]), prompt: 'Carteira', class: 'form-control' %>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <%= submit_tag 'Filtrar', class: 'btn btn-default' %>
        </div>
    </div>
<% end %> 
    

<div class="float-right"><%= link_to new_investimento_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo Investimento
	</button><% end %>
</div>
 
<h3 class="h3-custom" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Investimentos / Portfolio
</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ativo</th>
      <th>Tipo</th>
      <th>Quantidade</th>
      <th>Carteira</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @investimentos.each do |investimento| %>
      <tr>
        <td class="text-center"><%= investimento.id %></td>
        <td><%= investimento.ativo.ticker %></td>
        <td><%= investimento.ativo.tipo.nome %></td>
        <td><%= investimento.quantidade %></td>
        <td><%= investimento.carteira.nome %></td>
        <td><%= link_to 'Edit', edit_investimento_path(investimento) %></td>
        <td><%= link_to 'Destroy', investimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
