<%= form_with(model: ativo, local: true) do |form| %>
  <% if ativo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ativo.errors.count, "error") %> prohibited this ativo from being saved:</h2>

      <ul>
      <% ativo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="col-md-6">
      <%= form.label :tipo_id %> <%= link_to new_tipo_path do %> &nbsp; <small> (Novo)</small> <% end %>
      <%= form.select :tipo_id, Tipo.all.collect {|d| [d.nome, d.id]}, {}, {class: 'form-control'} %>
    </div>
    <div class="col-md-6">
      <%= form.label :ticker %>
      <%= form.text_field :ticker, class: 'form-control' %>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
