<p id="notice"><%= notice %></p>

<p>
  <strong>Carteira:</strong>
  <%= @provento.carteira %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @provento.ano %>
</p>

<p>
  <strong>Jan:</strong>
  <%= @provento.jan %>
</p>

<p>
  <strong>Fev:</strong>
  <%= @provento.fev %>
</p>

<p>
  <strong>Mar:</strong>
  <%= @provento.mar %>
</p>

<p>
  <strong>Abr:</strong>
  <%= @provento.abr %>
</p>

<p>
  <strong>Mai:</strong>
  <%= @provento.mai %>
</p>

<p>
  <strong>Jun:</strong>
  <%= @provento.jun %>
</p>

<p>
  <strong>Jul:</strong>
  <%= @provento.jul %>
</p>

<p>
  <strong>Ago:</strong>
  <%= @provento.ago %>
</p>

<p>
  <strong>Set:</strong>
  <%= @provento.set %>
</p>

<p>
  <strong>Out:</strong>
  <%= @provento.out %>
</p>

<p>
  <strong>Nov:</strong>
  <%= @provento.nov %>
</p>

<p>
  <strong>Dez:</strong>
  <%= @provento.dez %>
</p>

<%= link_to 'Edit', edit_provento_path(@provento) %> |
<%= link_to 'Back', proventos_path %>
