<header class="topnavbar-wrapper">
    <nav class="navbar topnavbar navbar-expand-lg">
        <div class="navbar-header">
           <a href="/" class="navbar-brand mt-3 text-success">
              Minha Holding
           </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnavbar">
              <span class="navbar-toggler-icon"></span>
           </button>
        </div>
        
        <div class="navbar-collapse collapse" id="topnavbar">
        <ul class="nav navbar-nav mr-auto flex-column flex-lg-row">
            
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#dashboard" data-toggle="dropdown">Admin</a>
            <div class="dropdown-menu animated fadeIn">
                <%= link_to carteiras_path, class: 'dropdown-item mb-1' do %>
                     Carteiras
                <% end %>
                <%= link_to ativos_path, class: 'dropdown-item mb-1' do %>
                    Ativos
                <% end %>
                
                <%= link_to corretoras_path, class: 'dropdown-item mb-1' do %>
                    Corretoras
                <% end %>
                <%= link_to tipos_path, class: 'dropdown-item mb-1' do %>
                     Tipos
                <% end %>
                <%= link_to estados_path, class: 'dropdown-item mb-1' do %>
                     Status
                <% end %>
                <%= link_to investimentos_path, class: 'dropdown-item mb-1' do %>
                     Investimentos
                <% end %>
                <%= link_to ativo_moves_path, class: 'dropdown-item mb-1' do %>
                     Mov. de Ativos
                <% end %>
                
                <%= link_to vencimentos_path, class: 'dropdown-item mb-1' do %>
                     Venc. dos Derivativos
                <% end %>
            </div>
        </li>
        <% end %>
        </ul>
           <ul class="navbar-nav flex-row">
              <% if(!user_signed_in?) %>
                  <li class="nav-item">
                      <%= link_to new_user_session_path, class: 'button-upgrade' do %>
                          <button class="btn btn-outline-custom btn-lg btn-custom-nav" type="button" data-toggle="modal" data-target="#myModal">
                             <em class="fa fa-lock fa-lg"></em> &nbsp; Login 
                          </button>
                      <% end %>
                  </li>
              <% else %>
                    <li class="nav-item">
                        <%= link_to pages_onde_investir_puts_path, class: 'nav-link nav-link-custom' do %>
                             Alocação de Puts
                        <% end %>
                        
                    </li>
                    <li class="nav-item">
                        <%= link_to deriva_moves_path, class: 'nav-link nav-link-custom' do %>
                             Mov. de Derivativos
                        <% end %>
                        
                    </li>
                    <li class="nav-item dropdown dropdown-list">
                         <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-toggle="dropdown">
                             <%= image_tag avatar_url(current_user), class: 'align-self-start mx-2 circle thumb32' %>
                         </a>
                         <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-item">
                               <div class="list-group">
                                    
                                      <div class="list-group-item list-group-item-action">
                                         <div class="media">
                                            <div class="align-self-start mr-2">
                                               <em class="fa fa-cogs fa-2x text-info"></em>
                                            </div>
                                            <div class="media-body">
                                               <p class="m-0">Área Administrativa</p>
                                               <p class="m-0 text-muted text-sm">Minhas coisas</p>
                                            </div>
                                         </div>
                                      </div>
                                    
                                      <div class="list-group-item list-group-item-action">
                                     <div class="media">
                                        <div class="align-self-start mr-2">
                                           <em class="fa fa-sign-out fa-2x text-warning"></em>
                                        </div>
                                        <div class="media-body">
                                          <%= link_to destroy_user_session_path, method: :delete do %>
                                            <p class="m-0">Sair</p>
                                            <p class="m-0 text-muted text-sm">Fazer Logout </p>
                                          <% end %>
                                        </div>
                                     </div>
                                  </div>
                                    
                               </div>
                            </div>
                         </div>
                      </li>
              <% end %>
           </ul>
        </div>
    </nav>
</header>